<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Add Adminstrateur</title>
		
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	<body>
		
		<div class="container">
		
			<h3>Add New Adminstrateur</h3>
			<hr/>

			
				<form th:action="@{/saveAdmin}" th:object="${admin}" method="POST">
					<input type="text" th:field = "*{id}" class="form-control col-4 mb-4" placeholder="Enter Id" />
					
					<!--<input type="text" th:field="*{email}" class="form-control col-4 mb-4" placeholder="Enter Email" />
					
					<input type="text" th:field="*{login}" class="form-control col-4 mb-4" placeholder="Enter Login" />
					
					<input type="text" th:field="*{nom}" class="form-control col-4 mb-4" placeholder="Enter Nom" />
					
					<input type="text" th:field="*{password}" class="form-control col-4 mb-4" placeholder="Enter Password" />
					
					<input type="text" th:field="*{prenom}" class="form-control col-4 mb-4" placeholder="Enter Prenom" />
					
					<input type="text" th:field="*{telephone}" class="form-control col-4 mb-4" placeholder="Enter Telephone" />
					
					<input type="text" th:field="*{id_role}" class="form-control col-4 mb-4" placeholder="Enter ID Role" />
					
					<input type="text" th:field="*{etat}" class="form-control col-4 mb-4" placeholder="Enter Etat" />-->
					
					<button type="submit" class="btn btn-primary col-2">Save</button>
					<!--  <input type="hidden" th:field="*{id}" />-->
					
				</form>
			<hr/>
			<a th:href="@{/list}">Back to list</a>
		</div>
		
	</body>
</html>